rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create;
      match /results/{resultId} {
        allow create, read, write;
        }
    }
  match /wazas/{wazaId} {
      allow read, create;
    }
  }
}